# Entorno virtual
.venv/
__pycache__/

# Datos y base de datos (DVC gestiona esto)
data/
*.db
*.csv

# Permitir que los archivos de control de DVC se suban a Git
!data/*.dvc
!data/.gitignore


# Modelos y ejecutables
models/
*.exe

# Logs y temporales
*.log
.python-version

gcp-key.json